/* universal reset which includes after and before pseudo elements as well - we increased the spectrum of coverage */
*,
*:not(.fab):not(.fa)::after,
*:not(.fab):not(.fa)::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* we moved the border-box definition to body and here provided inherit - its a better implementation */
  font-family: "Josefin Sans", sans-serif;
}

html {
  /*root font size is always selected in the html element
  change default font-size=10px => 10/16*100=62.5% is now 1rem */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem));
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem));
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  row-gap: 1.6rem;
  background-color: #f2f0f1;
}

@-webkit-keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.heading {
  grid-column: 1/-1;
  grid-row: 2/3;
  text-align: center;
}
.heading-text {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
}
.logo-img {
  height: 100%;
  width: 10rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.dropdown-li {
  position: relative;
}
.dropdown-li .fa-angle-down {
  font-size: 2rem;
  color: #333;
}
.dropdown-li:hover .fa-angle-down {
  color: #999999;
}
.dropdown-li:hover .dropdown {
  /* 1) Unhide it visually */
  opacity: 1;
  /* 2) Make it accessible to mouse and keyboard */
  pointer-events: auto;
  /* 3)  Hide it from screen readers */
  visibility: visible;
}

.dropdown {
  position: absolute;
  top: 2.5rem;
  right: -2.8rem;
  width: 10rem;
  background-color: #e6e2e4;
  padding: 1rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: all 0.3s;
  /* NOTE: Hide the elements - display: none is not animatable so we dont use it here */
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3)  Hide it from screen readers */
  visibility: hidden;
}
.dropdown-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.dropdown-item {
  list-style: none;
}
.dropdown-link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.dropdown-link:hover {
  color: #999999;
}
.dropdown-link .fa {
  margin-right: 0.5rem;
}
.dropdown::after {
  content: "";
  display: block;
  position: absolute;
  top: -1.2rem;
  left: 5.8rem;
  width: 1.8rem;
  height: 1.2rem;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
          clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  background-color: inherit;
}
.dropdown-item:not(:last-of-type) {
  margin: 0 0 0.5rem 0;
}
.dropdown-link {
  font-weight: 300;
  font-size: 1.6rem;
}

.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  position: relative;
}
.btn:hover .btn-bg {
  width: 18rem;
}
.btn:hover .btn-text {
  color: #ffe;
}
.btn:hover .arrow {
  transform: translateX(1rem);
}
.btn:hover .arrow-line-1 {
  width: 2rem;
}
.btn-bg {
  width: 4rem;
  height: 4rem;
  background-color: #333;
  border-radius: 50rem;
  position: absolute;
  left: 0;
  transition: width 0.2s;
}
.btn-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #333;
  z-index: 10;
}
.btn .arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: transform 0.2s;
}
.btn .arrow-line {
  height: 0.2rem;
  background-color: #ffe;
  position: absolute;
  transform-origin: right;
}
.btn .arrow-line-1 {
  width: 0rem;
  transform: translateX(-0.7rem);
  transition: width 0.2s;
}
.btn .arrow-line-2 {
  width: 1rem;
  transform: rotateZ(45deg);
}
.btn .arrow-line-3 {
  width: 1rem;
  transform: rotateZ(-45deg);
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(-webkit-min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  z-index: 100;
}

.first-nav {
  grid-column: 7/10;
  grid-row: 1/2;
}
.first-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.first-nav-item {
  list-style: none;
}
.first-nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.first-nav-link:hover {
  color: #999999;
}
.first-nav-link .fa {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 75em) {
  .first-nav {
    grid-column: 6/10;
  }
}

.second-nav {
  grid-column: 3/8;
  grid-row: 3/4;
}
.second-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.second-nav-item {
  list-style: none;
}
.second-nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.second-nav-link:hover {
  color: #999999;
}
.second-nav-link .fa {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 62.5em) {
  .second-nav {
    grid-column: 2/9;
  }
}

.slideshow {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 100%;
  height: 80vh;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .slideshow {
    height: 70vh;
  }
}
@media only screen and (max-width: 62.5em) {
  .slideshow {
    height: 60vh;
  }
}
.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -webkit-animation: slideshow 25s linear infinite;
          animation: slideshow 25s linear infinite;
  /* 
    Infinite cycle, linear speed, for 20s. However, all the slides are animated together. 
    In order to avoid simultaneous animation of slides, each slide needs to posses a distinct delay. 4s per slide x 5 = 20s total animation length 
    */
}
.slideshow-slide:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.slideshow-slide:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.slideshow-slide:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.slideshow-slide:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slideshow-slide:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.slideshow-slide img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow-content {
  background-color: rgba(255, 255, 238, 0.9);
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  max-width: 40rem;
  padding: 5rem;
}
@media only screen and (max-width: 75em) {
  .slideshow-content {
    padding: 3.5rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .slideshow-content {
    padding: 2rem;
  }
}
.slideshow-content h2 {
  font-size: 4.2rem;
  color: #333;
}
.slideshow-content p {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.products {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.products-heading {
  margin: 5rem 0;
}
.products-heading-text {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  color: #333;
}
.products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.products-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.product {
  position: relative;
}
.product:hover .product-description {
  /* 1) Unhide it visually */
  opacity: 1;
  /* 2) Make it accessible to mouse and keyboard */
  pointer-events: auto;
  /* 3)  Unhide it from screen readers */
  visibility: visible;
}
.product:hover .product-img {
  opacity: 0.5;
}
.product-img {
  width: 100%;
  transition: all 0.6s;
}
.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 238, 0.8);
  padding: 2rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  color: #333;
  text-align: center;
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3)  Hide it from screen readers */
  visibility: hidden;
  transition: all 0.6s 0.3s;
}
@media only screen and (max-width: 62.5em) {
  .product-description {
    padding: 1rem;
  }
}
.product-description-heading {
  font-size: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .product-description-heading {
    font-size: 2rem;
  }
}
.product-description-price {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
}
@media only screen and (max-width: 62.5em) {
  .product-description-price {
    font-size: 1.8rem;
  }
}
.product-description-price span {
  font-weight: 600;
}
.product-description-btn {
  font-size: 1.6rem;
  text-decoration: none;
  color: #f5b149;
  display: block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #f5b149;
  background-color: #666666;
}
@media only screen and (max-width: 62.5em) {
  .product-description-btn {
    font-size: 1.28rem;
    padding: 0.2rem 0.5rem;
  }
}

.footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  padding: 5rem 0;
  border-top: 0.1rem solid #333;
}
@media only screen and (max-width: 62.5em) {
  .footer {
    flex-wrap: wrap;
    gap: 4rem;
  }
}
.footer .footer-nav-heading {
  font-size: 2.5rem;
  color: #333;
}
.footer .footer-nav-item {
  list-style: none;
  margin: 1rem 0;
}
.footer .footer-nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
  transition: color 0.3s;
}
.footer .footer-nav-link:hover {
  color: #8c8c8c;
}
.footer .contact-list-heading {
  font-size: 2.5rem;
  color: #333;
}
.footer .contact-list-item {
  list-style: none;
  margin: 1rem 0;
}
.footer .contact-list-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
  transition: color 0.3s;
}
.footer .contact-list-link:hover {
  color: #8c8c8c;
}
@media only screen and (max-width: 62.5em) {
  .footer .contact {
    padding: 0 10rem;
    order: 1;
  }
}
.footer .contact-heading {
  font-size: 3rem;
  color: #333;
  text-align: center;
}
.footer .contact-paragraph {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}
.footer .inputs-group {
  display: flex;
}
.footer .inputs-group input {
  padding: 1rem;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  border: 0.1rem solid #1a1a1a;
  border-radius: 0.3rem;
  outline: none;
  transition: border 0.3s;
}
.footer .inputs-group input:focus:not([type=submit]) {
  border: 0.1rem solid #9c6209;
}
.footer .inputs-group-text {
  width: 50%;
}
.footer .inputs-group-email {
  width: 60%;
}
.footer .inputs-group-btn {
  width: 40%;
  color: #ffe;
  background-color: #666666;
  transition: background-color 0.3s;
}
.footer .inputs-group-btn:hover {
  background-color: #333;
}
.footer .social-icons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* Selects the nth element of social-icons-item siblings */
}
.footer .social-icons .social-icons-item:nth-child(1) .social-icons-link {
  color: #3b5998;
  border: 0.1rem solid #3b5998;
}
.footer .social-icons .social-icons-item:nth-child(2) .social-icons-link {
  color: #b31217;
  border: 0.1rem solid #b31217;
}
.footer .social-icons .social-icons-item:nth-child(3) .social-icons-link {
  color: #dc4e41;
  border: 0.1rem solid #dc4e41;
}
.footer .social-icons .social-icons-item:nth-child(4) .social-icons-link {
  color: #55acee;
  border: 0.1rem solid #55acee;
}
.footer .social-icons .social-icons-item:nth-child(5) .social-icons-link {
  color: #517fa4;
  border: 0.1rem solid #517fa4;
}
.footer .social-icons .social-icons-item:nth-child(6) .social-icons-link {
  color: #0077b5;
  border: 0.1rem solid #0077b5;
}
.footer .social-icons-item {
  list-style: none;
}
.footer .social-icons-link {
  display: block;
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #333;
  border-radius: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}/*# sourceMappingURL=main.css.map */