.footer {
	grid-column: 1 / -1;
	grid-row: 4 / 5;

	@include flexPosition($justifyContent: space-around, $alignItems: start);

	padding: 5rem 0;
	border-top: 0.1rem solid color(primary);
}

.footer-nav {
	@include footerList;
}

.contact-list {
	@include footerList;
}

.contact {
	&-heading {
		font-size: size(xl);
		color: color(primary);
		text-align: center;
	}

	&-paragraph {
		font-size: size(lg);
		margin: 1rem 0;
		text-align: center;
	}
}

.inputs-group {
	display: flex;

	input {
		padding: 1rem;
		font-size: size(xs);
		margin: 1rem 0.5rem;
		border: 0.1rem solid darken(color(primary), 10%);
		border-radius: 0.3rem;
		outline: none;

		transition: border 0.3s;

		&:focus:not([type="submit"]) {
			border: 0.1rem solid darken(color(quaternary), 30%);
		}
	}

	&-text {
		width: 50%;
	}
	&-email {
		width: 60%;
	}
	&-btn {
		width: 40%;
		color: color(secondary);
		background-color: lighten(color(primary), 20%);

		transition: background-color 0.3s;

		&:hover {
			background-color: color(primary);
		}
	}
}
