.first-nav {
	grid-column: 7/10;
	grid-row: 1/2;
	@include navigation;

	//@1200px breakpoint, increase the grid allocation of the right top corner nav elements
	@include break(xl) {
		grid-column: 6/10;
	}
}

.second-nav {
	grid-column: 3/8;
	grid-row: 3/4;
	@include navigation;
}
