.first-nav {
	grid-column: 7/10;
	grid-row: 1/2;
	@include navigation;

	//@1200px breakpoint, increase the grid allocation of the right top corner nav elements
	@include break(xl) {
		grid-column: 6/10;
	}
	@include break(lg) {
		grid-column: 5/10;
	}
	@include break(md) {
		grid-column: 4/10;
	}
	@include break(sm) {
		grid-column: 2/10;
	}
}

.second-nav {
	grid-column: 3/8;
	grid-row: 3/4;
	@include navigation;

	@include break(lg) {
		grid-column: 2/9;
	}
	@include break(md) {
		grid-column: 1/10;
	}
}
