.products {
	grid-column: 1 / -1;
	grid-row: 3 / 4;

	&-heading {
		margin: 5rem 0;

		&-text {
			text-align: center;
			font-size: size(lg) + 2rem;
			font-weight: 300;
			color: color(primary);
		}
	}

	&-wrapper {
		@include flexPosition($gap: 2.5rem);
	}

	&-btn {
		// width: 16rem;
		// height: 4rem;
		// margin: 0 auto; // works only when width is smaller than the vw
		@include flexPosition;
	}
}

.product {
	position: relative;

	&:hover .product-description {
		/* 1) Unhide it visually */
		opacity: 1;
		/* 2) Make it accessible to mouse and keyboard */
		pointer-events: auto;
		/* 3)  Unhide it from screen readers */
		visibility: visible;
	}
	&:hover .product-img {
		// animate to be half transparent when img is hovered on
		opacity: 0.5;
	}

	&-img {
		// initial state of the product image
		width: 100%;
		transition: all 0.6s;
	}

	&-description {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		background-color: transparentize(color(secondary), 0.2);
		padding: 2rem;
		border: 0.1rem solid color(primary);
		border-radius: 0.5rem;
		color: color(primary);
		text-align: center;

		// initial state - before hover effect - description is concealed
		/* 1) Hide it visually */
		opacity: 0;
		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;
		/* 3)  Hide it from screen readers */
		visibility: hidden;
		transition: all 0.6s 0.3s;

		@include break(lg) {
			padding: 1rem;
		}
		@include break(sm) {
			background-color: transparent;
			border: none;
		}

		&-heading {
			font-size: size(xl);

			@include break(lg) {
				font-size: size(md);
			}
			@include break(sm) {
				display: none;
			}
		}
		&-price {
			font-size: size(lg);
			font-weight: 300;
			margin: 1rem 0;

			@include break(lg) {
				font-size: size(sm);
			}
			@include break(sm) {
				display: none;
			}

			span {
				font-weight: 600;
			}
		}
		&-btn {
			font-size: size(xs);
			text-decoration: none;
			color: color(quaternary);

			//first change inline element to block to give some padding
			display: block;
			padding: 0.5rem 1rem;

			border: 0.1rem solid color(quaternary);
			background-color: lighten(color(primary), 20%);

			@include break(lg) {
				font-size: size(xs) * 0.8;
				padding: 0.2rem 0.5rem;
			}
			@include break(sm) {
				padding: 0.5rem 0.7rem;
				width: 7rem;
			}
		}
	}
}
