.heading {
	grid-column: 1/-1; //increase the confiment width to max w/o a media query
	grid-row: 2/3;

	text-align: center;

	&-text {
		font-family: "Great Vibes", cursive;
		font-size: size(xl) * 2;
		font-weight: lighter;
		letter-spacing: 0.5rem;
	}
}
