@mixin navigation {
	&-list {
		display: flex;
		justify-content: space-around;
		align-items: center; //this worksd only if the height is provided
		height: 100%;
	}

	&-item {
		list-style: none;
	}

	&-link {
		text-decoration: none;
		color: color(primary);
		font-size: size(sm);

		transition: all 0.3s;

		&:hover {
			color: lighten(color(primary), 40%);
		}

		.fa {
			margin-right: 0.5rem;
		}
	}
}

@mixin flexPosition(
	$flexDirection: row,
	$justifyContent: center,
	$alignItems: center,
	$gap: 0
) {
	display: flex;
	flex-direction: $flexDirection;
	justify-content: $justifyContent;
	align-items: $alignItems;
	gap: $gap;
}

@mixin footerList {
	&-heading {
		font-size: size(lg);
		color: color(primary);
	}

	&-item {
		list-style: none;
		margin: 1rem 0;
	}

	&-link {
		font-size: size(xs);
		text-decoration: none;
		color: lighten(color(primary), 15%);

		transition: color 0.3s;

		&:hover {
			color: lighten(color(primary), 35%);
		}
	}
}

@mixin break($breakpoint) {
	//1200px/16px == 75em
	@if ($breakpoint == xl) {
		@media only screen and (max-width: 75em) {
			@content;
		}
	}
	//1000px/16px == 62.5em
	@if ($breakpoint == lg) {
		@media only screen and (max-width: 62.5em) {
			@content;
		}
	}
	//752px/16px == 47em
	@if ($breakpoint == md) {
		@media only screen and (max-width: 47em) {
			@content;
		}
	}
	//560px/16px == 35em
	@if ($breakpoint == sm) {
		@media only screen and (max-width: 35em) {
			@content;
		}
	}
}
