//COLORS - MAP STYLE VARIABLES
$colors: (
	primary: #333,
	secondary: #ffe,
	tertiary: #f2f0f1,
	quaternary: #f5b149,
); //we call them via SCSS map-get function inside a SCSS function call

//FONT SIZES - MAP STYLE VARIABLES
$font-sizes: (
	xl: 3rem,
	lg: 2.5rem,
	md: 2rem,
	sm: 1.8rem,
	xs: 1.6rem,
);
